
        body {
            background: #000000;
            height: 100%;
        }

        .container {
            display: grid;
            width: 60%;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .container div {
            margin: 40px 0;
            background-color: rgba(30, 110, 41, 0.856);
            padding: 75px;
            border-radius: 3px;
            border: 8px solid;
            border-color: brown;
        }

        .container h2 {
            font-size: 22px;
            color: #fff;
        }

        .container button {
        background-color: transparent;
        color: #fff;
        border: 2px solid #ffffff;
        border-radius: 7px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        width: 170px;
        padding: 10px;
        position: relative;
        cursor: pointer;
        transition: color 0.4s ease;
        }
        .container button:hover{
            background-color: rgba(79, 175, 92, 0.856);
        }


        h3 {
            text-align: center;
            font-size: 50px;
            color: #ffffff;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
            margin-top: 50px;
        }